[submodule "elisp/highlight-indentation"]
	path = elisp/highlight-indentation
	url = git@github.com:muratayusuke/Highlight-Indentation-for-Emacs.git
[submodule "elisp/auto-highlight-symbol"]
	path = elisp/auto-highlight-symbol
	url = git@github.com:muratayusuke/auto-highlight-symbol.git
[submodule "snippets/yasnippet-ruby-mode"]
	path = snippets/ruby-mode
	url = git@github.com:muratayusuke/yasnippet-ruby-mode.git
[submodule "snippets/sh-mode"]
	path = snippets/sh-mode
	url = git@github.com:muratayusuke/yasnippet-sh-mode.git
