[submodule "elisp/egg"]
	path = elisp/egg
	url = https://github.com/muratayusuke/egg
[submodule "elisp/cucumber.el"]
	path = elisp/cucumber.el
	url = https://github.com/muratayusuke/cucumber.el
[submodule "elisp/js2"]
	path = elisp/js2
	url = git@github.com:muratayusuke/js2-mode.git
[submodule "elisp/php-mode"]
	path = elisp/php-mode
	url = git@github.com:muratayusuke/php-mode.git
[submodule "elisp/popwin-el"]
	path = elisp/popwin-el
	url = git@github.com:muratayusuke/popwin-el.git
[submodule "elisp/golden-ratio.el"]
	path = elisp/golden-ratio.el
	url = git@github.com:muratayusuke/golden-ratio.el.git
[submodule "elisp/flex-autopair"]
	path = elisp/flex-autopair
	url = git@github.com:muratayusuke/flex-autopair.git
[submodule "elisp/rubocop-emacs"]
	path = elisp/rubocop-emacs
	url = git@github.com:muratayusuke/rubocop-emacs.git
[submodule "elisp/dash.el"]
	path = elisp/dash.el
	url = git@github.com:muratayusuke/dash.el.git
[submodule "elisp/highlight-indentation"]
	path = elisp/highlight-indentation
	url = git@github.com:muratayusuke/Highlight-Indentation-for-Emacs.git
[submodule "elisp/haml-mode"]
	path = elisp/haml-mode
	url = git@github.com:muratayusuke/haml-mode.git
[submodule "elisp/scss-mode"]
	path = elisp/scss-mode
	url = git@github.com:muratayusuke/scss-mode.git
[submodule "elisp/coffee-mode"]
	path = elisp/coffee-mode
	url = git@github.com:muratayusuke/coffee-mode.git
[submodule "elisp/yaml-mode"]
	path = elisp/yaml-mode
	url = git@github.com:muratayusuke/yaml-mode.git
[submodule "elisp/multiple-cursors"]
	path = elisp/multiple-cursors
	url = git@github.com:muratayusuke/multiple-cursors.el.git
[submodule "elisp/expand-region"]
	path = elisp/expand-region
	url = git@github.com:muratayusuke/expand-region.el.git
