[submodule "elisp/highlight-indentation"]
	path = elisp/highlight-indentation
	url = git@github.com:muratayusuke/Highlight-Indentation-for-Emacs.git
[submodule "elisp/el-get/el-get"]
	path = elisp/el-get/el-get
	url = git@github.com:dimitri/el-get.git
